:root {
    --fg: white;
    --bg: black;
    --fg-invert: var(--bg);

    &.light-mode {
        --fg: black;
        --bg: white;

        span#help img {
            filter: invert();
        }
    }
    &.pride {
        --fg-invert: white;
        --bg: transparent;
    }
    &.transparent {
        --bg: transparent;
    }
}
