@import url(/css/themes.css);
@import url(/css/message-bar.css);
@import url(/css/mobile.css);
@import url(/css/content.css);
@import url(/css/selector.css);
@import url(/css/cmd-line.css);
@import url(/css/fonts.css);

body {
    margin: 0;

    font:
        2.7rem var(--font-body),
        sans-serif;
    color: var(--fg);

    background: var(--bg);
    /* overflow-x: hidden; */
    overflow: hidden;
}

h1 {
    margin: 0 0 10px 0;
    cursor: default;
    font:
        bold 7.6rem var(--font-header),
        monospace;
}

a {
    color: inherit;
}

span#help {
    position: fixed;
    bottom: 0;
    width: 100%;

    font:
        1.6rem var(--font-body),
        sans-serif;
    font-variant-ligatures: no-common-ligatures;
    user-select: none;
    text-align: center;
    color: color-mix(in srgb, var(--fg) 50%, transparent);

    background-color: var(--bg);
    padding-bottom: 10px;

    span.icon {
        display: inline-block;
        width: 26px;
        height: 26px;
        vertical-align: middle;

        background: var(--fg);
        opacity: 0.5;
        mask-size: 26px;

        &.space {
            mask-image: url(/assets/space.svg);
        }
        &.delete {
            mask-image: url(/assets/delete.svg);
        }
    }
}

::selection {
    color: var(--fg-invert);
    background: var(--fg);
}

ul > li {
    list-style: "- ";

    &::marker {
        color: color-mix(in xyz, var(--fg) 20%, transparent);
    }
}
