:root {
  --fg: white;
  --bg: black;
  --fg-invert: var(--bg);
  --font-header: "Space Mono";
  --font-body: "Space Grotesk";

  &.light-mode {
    --fg: black;
    --bg: white;

    span#help img {
      filter: invert();
    }
  }

  &.no-invert {
    #selector {
      mix-blend-mode: normal;
      background: color-mix(in xyz, var(--fg) 20%, transparent);

    }

    &:not(.light-mode) #selector::after {
      filter: invert(1);
    }
  }

  &.transparent {
    --fg-invert: black;
    --bg: transparent;

    &.light-mode {
      --fg-invert: white;
    }
  }

  &.fire {
    --font-header: "UnifrakturMaguntia";
    --font-body: "Homenaje";
  }

  &.retro {
    --fg: #89ff52;
    --bg: #0a1f00;
    --font-header: "Courier Prime";
    --font-body: "Courier Prime";

    #selector {
      mix-blend-mode: normal;
      background-color: var(--fg);
      z-index: -100;
      transition: none;

      &::after {
        content: "->";
        width: 64px;

        color: var(--bg);
        background: none;
      }
    }

    div#center {
      transition: none;
      
      #links {
        transition: none;

        & > * {
          transition: opacity 0.01s;
        }
    
        a.selected {
          color: var(--bg);

          &.icon::before {
            background-color: var(--bg) !important;
          }
        }
      }
    }
    #cmd-line {
      background-color: var(--bg);
      color: var(--fg);
      transition: none;
      
      span.cursor {
        font-size: 0;
        animation-timing-function: step-end;

        &::after {
          content: "\a0";
          font-size: 7.6rem;

          display: block;
          position: absolute;
          top: 5px;
          bottom: 5px;

          padding: 20px 0;
          background-origin: padding-box;
          background-color: var(--fg);
        }
      }
    }
    
    body::after {
      content: " ";
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      pointer-events: none;
      background: linear-gradient(transparent, #498e29, transparent) 0 0 / 8px 8px;
      opacity: 0.1;

      animation: scan 5s linear infinite;
    }
  }

  &.no-anim {
    * {
      transition: none !important;
    }
  }

  &:is(.fire, .retro) #selector {
    margin-top: 0;
  }
}

@keyframes scan {
  from {
    background-position-y: 0;
  }

  to {
    background-position-y: 8px;
  }
}
