/* Space Grotesk fonts */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&display=swap");

body {
  margin: 0;

  font:
    3rem "Space Grotesk",
    sans-serif;
  color: white;

  background: black;
}

h1 {
  margin: 0 0 10px 0;
  cursor: default;
  font:
    bold 8rem "Space Mono",
    monospace;
}

div#center {
  max-width: calc(50vw + 320px);
  margin: calc(40vh - 8rem) 0 0 calc(50vw - 320px);

  & #links > :not(:last-child) {
    padding-bottom: 5px;
  }

  & #links > :not(:first-child) {
    padding-top: 5px;
  }

  a {
    display: block;
    cursor: pointer;

    color: inherit;
    text-decoration: none;

    transition: opacity 0.2s;

    &.icon::before {
      content: " ";

      display: inline-block;
      width: 3rem;
      height: 3rem;
      margin-right: 10px;
      vertical-align: -12px;

      background: center / contain no-repeat;
    }

    &.discord::before {
      background-image: url(../assets/discord.svg);
    }

    &.github::before {
      background-image: url(../assets/github.svg);
    }
  }

  #links.hidden {
    a,
    span.sep {
      opacity: 0;
    }
  }

  span.sep {
    display: block;

    cursor: default;
    opacity: 0.5;

    position: relative;
    z-index: 100;

    transition: opacity 0.2s;
  }
}

div#selector {
  position: fixed;
  left: 0;
  width: 100vw;
  height: calc(3rem + 3px);
  margin-top: 5px;

  padding: 5px 0;
  background: white;
  mix-blend-mode: difference;

  pointer-events: none;
  transition: transform 0.1s ease-out;

  &:not(.hidden) {
    transition:
      top 0.1s ease-out,
      transform 0.1s ease-out;
  }

  &::after {
    content: "→";
    display: block;
    width: 3rem;
    margin-left: calc(50vw - 340px - 3rem);

    color: black;
    line-height: 3rem;
  }

  &.hidden {
    transform: scaleY(0);
  }
}

span#help {
  position: fixed;
  bottom: 10px;
  width: 100%;

  font:
    1.6rem "Space Mono",
    sans-serif;
  font-variant-ligatures: no-common-ligatures;
  user-select: none;
  text-align: center;

  opacity: 0.3;

  img {
    transform: translateY(5px);
  }
}

h1#path-back {
  position: fixed;
  top: calc(40vh - 8rem);
  right: calc(50vw + 320px);

  cursor: pointer;

  text-align: right;
  opacity: 0.5;

  transition: opacity 0.1s;

  &:hover {
    opacity: 0.7;
  }
}

::selection {
  color: black;
  background: white;
}
