div#selector {
    position: fixed;
    left: 0;
    width: 100vw;
    height: calc(2.7rem + 3px);
    margin-top: 6px;

    padding: 5px 0;
    background: white;
    mix-blend-mode: difference;

    pointer-events: none;
    transition: transform 0.1s ease-out;

    &:not(.hidden) {
        transition:
            top 0.1s ease-out,
            transform 0.1s ease-out;
    }

    &::after {
        content: " ";
        display: block;
        width: 48px;
        height: 100%;
        margin-left: calc(50vw - 340px - 2.7rem);
        margin-top: 0px;
        z-index: 100;

        background: center / contain no-repeat url(/assets/arrow.svg);
    }

    &.hidden {
        transform: scaleY(0);
    }
}
